body{
    --ci1:hsla(196, 86%, 72%, 1);
    --ci2:hsla(237, 88%, 72%, 1);
    --ci3:hsla(180, 69%, 58%, 1);
    --ci4:hsla(200, 85%, 52%, 1);
    --ci5:hsla(232, 66%, 36%, 1);
    width: 100%;
    height: 100%;
    margin:0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav{
    height:80px;
    width: 100%;
    background-color: #ddd;
    display:flex;
    position: absolute;
    top: 0%;
    align-items:center;
    justify-content:space-between;
    box-sizing:border-box;
    font-family: 'Baloo Da 2', cursive;
}
#header{
    color: var(--ci5);
    font-family: 'Baloo Da 2', cursive;
    font-size: 4em;
    margin: 0 0 0 0;
}
.site{
    margin-left:1rem;
}
.nav-items{
    height:100%;
    width:calc(100% - 5rem);
    display:flex;
    justify-content:flex-end;
}
.nav_a{
    height:100%;
    display:inline-flex;
    align-items:center;
    padding:0 2em ;
    font-weight:bold;
    transition:all .2s;
    text-decoration:none;
    color:var(--ci5);
    font-size: 2em;
}
.nav_a:hover{
    color:var(--ci2);
    background:var(--ci1);
}

#profile{
    background-color: var(--ci1);
}

#work{
    background-color: var(--ci3);
}

#oneyear{
    background-color: var(--ci2);
}

#aboutweb{
    background-color: var(--ci5);
}

.canvas{
    --wid: 1000px;
    --hei: auto;
    position: absolute;
    left: calc((100% - var(--wid)) / 2);
    top: calc(((100% - 500px) / 2) + 40px);
    width: var(--wid);
    height: var(--hei);
    display: flex;
    border-radius: 50px;
    border: .11px solid white;
    z-index: 100;
    background:blue;
    overflow:hidden;
    box-shadow:8px 8px 0px #0232;
    margin:auto;
    margin-bottom:5em;
    transition:all .3s;
    flex-direction: column;
}
.picture{
    --size: 50%;
    width: var(--size);
    height: var(--size);
    border-radius: 15px;
}
.row .column{
    float: left;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
#side{
    display:flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    padding: 30px;
}
.side_left{
    width:30%;
}
.side_right{
    width:50%;
}